extends partials/layout.pug

block content
  h1 Login App
  p ... that only registers a user, lets them login, displays their user name, and then allows them to log in. Session persists on refresh.
  if email
    h1 Welcome #{email}!
    a(href='/logout') Logout
  else
    h3
      a(href='/register') Register
    h3
      a(href='/login') Login
